﻿@import "../../../Content/css/variables.less";
@import "../../../Content/css/typography.less";
@import "../../../Content/css/magik.less";

.product-page-component {
    .responsive-font-size(0.92);

    .call-to-action {
        .sans-serif-bold;
        .transition(.3s);
        color: #999;

        &:hover {
            color: #4c4c4c;
        }
    }

    .btn-custom {
        .sans-serif-bold-uppercase;
        .responsive-font-size(0.7);
        .transition(.3s);
        letter-spacing: 0.1em;
        padding: 1.05em 2em;
        border: none;
        text-align: center;
        cursor: pointer;

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }

        &.try {
            color: @base-text-color;
            border: 2px solid #4c4c4c;
            letter-spacing: 0.14em;

            i {
                font-size: .9em;
                margin-right: .9em;
            }

            &:not(:disabled) {
                &:hover,
                &:focus,
                &:active:focus {
                    background-color: #b2b2b2;
                }
            }
        }

        &.add-to-cart {
            color: white;
            background-color: #4c4c4c;
            padding: 1.25em 4.5em;
            letter-spacing: 0.14em;

            &:not(:disabled) {
                &:hover,
                &:focus,
                &:active:focus {
                    background-color: #333333
                }
            }
        }
    }

    .color-selector {
        .title {
            margin-bottom: 1em;
        }

        .color-icon-group {
            span {
                margin-right: .5em;
                width: 2.8em;
                height: 2.8em;
                padding: .19em;
                border: solid .1em transparent;
                border-radius: 1.75em;
                display: inline-block;
                transition: border-color .3s;
                cursor: pointer;

                @media(max-width: @menu-switch) {
                    width: 2.5em;
                    height: 2.5em;
                }

                &.selected, &:hover {
                    border-color: fade(@base-text-color, 40%);
                }

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 2em;
                    cursor: pointer;
                }
            }
        }
    }

    .size-selector, .set-selector {
        .selector-group {
            margin-bottom: -.5em;

            .selector-options-wrapper {
                span {
                    .sans-serif-bold-uppercase;
                    font-weight: 100;
                    font-size: 0.93em;
                    padding: .65em 0;
                    width: 3.3em;
                    text-align: center;
                    margin-right: .8em;
                    margin-bottom: .8em;
                    display: inline-block;
                    border: solid 2px transparent;
                    transition: border-color .3s;
                    cursor: pointer;
                    opacity: .9;

                    @media(max-width: @menu-switch) {
                        .sans-serif;
                        width: 2.7em;
                        font-size: 1.05em;
                        padding: .2em 0;
                        margin-right: .5em;
                        margin-bottom: .5em;
                    }

                    &.selected, &:hover {
                        border-color: fade(white, 90%);

                        @media(max-width: @menu-switch) {
                            border-color: #cdcdcd;
                        }
                    }

                    &.not-available {
                        opacity: .5;
                    }
                }
            }
        }
    }

    .size-selector {
        .selector-group {
            .size-guide {
                .sans-serif-bold;
                color: #999;
                cursor: pointer;
                margin-top: 1em;
                .transition(.3s);

                @media(max-width: @menu-switch) {
                    display: block;
                }

                &:hover {
                    color: white;
                }
            }
        }
    }

    .set-selector {
        .selector-group {
            .selector-options-wrapper {
                span {
                    width: unset;
                    padding-left: .9em;
                    padding-right: .9em;
                    margin-right: 1px;
                    text-transform: lowercase;

                    &:first-letter {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    .product-details {
        background-color: #f8f8f8;

        .display-table-md {
            table-layout: fixed;
            min-height: ~"calc(100vh - 6.8em)";

            @media(max-width: @menu-switch) {
                min-height: unset
            }

            .display-table-row {
                .display-table-cell {
                    &.product-image-carousel-nav {
                        .responsive-width(10%, auto);
                        padding: 3%;
                        vertical-align: bottom;

                        @media(max-width: @menu-switch) {
                            display: none
                        }

                        .nav-item {
                            padding-top: 100%;
                            margin-bottom: 1em;
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            border: solid .1em transparent;
                            cursor: pointer;

                            &:last-of-type {
                                margin-bottom: 0;
                            }

                            &:hover, &.selected {
                                border-color: #7d7d7d;
                            }
                        }
                    }

                    &.product-images {
                        .responsive-width(40%, auto);
                        position: relative;
                        vertical-align: middle;
                        vertical-align: middle;
                        margin: 0 auto;

                        @media(max-width: @menu-switch) {
                            padding: 0 1em;
                        }

                        .product-image-carousel {
                            display: inline-block;

                            @media(max-width: @menu-switch) {
                                width: 100%;
                            }

                            .product-carousel {
                                padding-top: 100%;
                                background-size: cover;
                                background-position: center;
                                background-repeat: no-repeat;
                                cursor: url("cursor.svg"), zoom-in;

                                .item {
                                    padding-top: 100%;
                                    background-size: cover;

                                    .zoomImg {
                                        width: 200% !important;
                                        height: auto !important;
                                    }
                                }

                                .owl-controls {
                                    display: none;

                                    @media(max-width: @menu-switch) {
                                        display: initial;
                                        text-align: center;
                                    }
                                }
                            }
                        }

                        .product-message {
                            width: 100%;

                            @media(max-width: @menu-switch) {
                                display: none;
                            }

                            .content-wrapper {
                                width: ~"calc(100% - 3.7em)";
                                position: absolute;
                                bottom: 2.5em;
                                margin: 0 1.85em;
                                z-index: 1;
                                opacity: .8;
                                background: #36433c;
                                text-align: center;
                                padding: 2.7em 0;
                                .transition(padding .8s);

                                img {
                                    position: absolute;
                                    right: .9em;
                                    top: .9em;
                                    height: .45em;
                                    padding: .5em;
                                    box-sizing: content-box;
                                    cursor: pointer;
                                    -webkit-transform: scaleY(-1);
                                    transform: scaleY(-1);

                                    &:hover {
                                        opacity: .7;
                                    }
                                }

                                .text-content {
                                    P {
                                        .sans-serif;
                                        color: white;
                                        margin-bottom: 0;

                                        &:first-of-type {
                                            font-weight: 600 !important;
                                            white-space: nowrap;
                                        }

                                        &:last-of-type {
                                            opacity: .95;
                                            color: #ddd;
                                            max-width: 60%;
                                            margin: 0 auto;
                                        }
                                    }
                                }

                                &.shrinked {
                                    padding: 1.1em 3em;

                                    img {
                                        -webkit-transform: scaleY(1);
                                        transform: scaleY(1);
                                        top: 1.2em;
                                    }
                                }
                            }
                        }
                    }

                    &.product-description {
                        .responsive-width(50%, auto);
                        vertical-align: middle;
                        text-align: center;

                        @media(max-width: @menu-switch) {
                            padding: 2em 1.2em;
                        }

                        .wrapper {
                            .responsive-width(80%, 100%);
                            margin: 0 auto;

                            .title {
                                color: #4f4f4f;
                                margin-bottom: .5em;
                                letter-spacing: .01em
                            }

                            .price {
                                .sans-serif-bold;
                                display: block;
                                margin-bottom: 2em;

                                .compare-at-price {
                                    .sans-serif-light;
                                    font-style: italic;
                                    opacity: .9;
                                    letter-spacing: 0.01em;
                                }
                            }

                            .set {
                                .sans-serif-bold;

                                @media(max-width: @menu-switch) {
                                    display: none;
                                }
                            }

                            .color-selector {
                                @media(max-width: @menu-switch) {
                                    margin-bottom: 1em;
                                }

                                .title {
                                    display: none;
                                }
                            }

                            .size-selector, .set-selector {
                                display: none;

                                @media(max-width: @menu-switch) {
                                    display: initial;
                                }
                            }

                            .eyewear {
                                display: none;

                                @media(max-width: @menu-switch) {
                                    display: initial;
                                }

                                .lens-type-column {
                                    .title {
                                        border-top: 1px solid #ddd;
                                        border-bottom: 1px solid #ddd;
                                        padding: 0.7em 0;
                                        display: block;

                                        @media(max-width: @menu-switch) {
                                            display: none;
                                        }

                                        &.mobile {
                                            display: none;

                                            @media(max-width: @menu-switch) {
                                                display: block;
                                            }
                                        }
                                    }

                                    .body {
                                        padding-bottom: 1.5em 0;

                                        @media(max-width: @menu-switch) {
                                            text-align: left;
                                            padding: 1em 0;
                                        }

                                        .lens {
                                            .lens-type-wrapper {
                                                .lens-type {
                                                    .lens-type-content {
                                                        @media(max-width: @menu-switch) {
                                                            display: block;
                                                            margin: -1.6em auto 0.5em 1.9em;
                                                        }

                                                        .price {
                                                            &.mobile {
                                                                display: none;

                                                                @media(max-width: @menu-switch) {
                                                                    display: inline;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }

                                                .price {
                                                    &.desktop {
                                                        @media(max-width: @menu-switch) {
                                                            display: none;
                                                        }
                                                    }
                                                }

                                                &.selected {
                                                    .lens-type {
                                                        .lens-type-description {
                                                            margin-left: 1.8em;
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        .more-options {
                                            padding-top: .7em;
                                            display: none;
                                        }
                                    }
                                }

                                .lens-color-column {
                                    border-top: 1px dotted #ddd;
                                    border-bottom: 1px dotted #ddd;
                                    padding: 1.5em 0;
                                    margin-bottom: 2em;

                                    .lens-color {
                                        display: table;
                                        width: 100%;

                                        @media(max-width: @menu-switch) {
                                            text-align: left;
                                        }

                                        .title {
                                            display: table-cell;
                                            width: 32%;
                                            vertical-align: middle;
                                            display: block;

                                            @media(max-width: @menu-switch) {
                                                display: none;
                                            }

                                            &.mobile {
                                                display: none;

                                                @media(max-width: @menu-switch) {
                                                    display: table-cell;
                                                }
                                            }
                                        }

                                        .body {
                                            display: table-cell;
                                            width: 68%;

                                            @media(max-width: @menu-switch) {
                                                text-align: right;
                                            }

                                            .color-selector {
                                                @media(max-width: @menu-switch) {
                                                    margin-bottom: 0;
                                                }

                                                .title {
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                }

                                .learn-more {
                                    &.display-table {
                                        text-align: left;
                                        padding: 0 3em;

                                        @media(max-width: @menu-switch) {
                                            margin-top: 1em;
                                        }

                                        .display-table-cell {
                                            &:first-of-type {
                                                width: 13%;

                                                img {
                                                    height: 1.4em;
                                                    font-weight: 400;

                                                    @media(max-width: @menu-switch) {
                                                        height: .8em;
                                                    }
                                                }
                                            }

                                            &:last-of-type {
                                                width: 87%;
                                            }
                                        }
                                    }
                                }
                            }

                            .description {
                                .responsive-font-size(.98);
                                .responsive-padding(0 1.5em, 0);
                                margin: 2em 0;
                                color: #151515;
                                letter-spacing: .01em;
                                font-weight: 300;
                                line-height: 1.7;
                            }

                            .social-share {
                                @media(max-width: @menu-switch) {
                                    margin-bottom: 2em;
                                }

                                a {
                                    margin: 0 .8em;
                                    color: #878787;
                                    .transition(color .3s);

                                    @media(max-width: @menu-switch) {
                                        font-size: 1em;
                                    }

                                    &:hover {
                                        color: #4c4c4c;
                                    }
                                }
                            }

                            .product-message {
                                display: none;
                                margin-top: 3.5em;
                                margin-bottom: 2em;
                                background: #36433c;
                                text-align: center;
                                padding: 2.3em 1em;

                                P {
                                    .sans-serif;
                                    color: white;
                                    margin-bottom: 0;

                                    &:first-of-type {
                                        font-weight: 600 !important;
                                    }

                                    &:last-of-type {
                                        opacity: .95;
                                        color: #ddd;
                                    }
                                }


                                @media(max-width: @menu-switch) {
                                    display: block;
                                }
                            }

                            .call-to-action-buttons {
                                display: none;

                                @media(max-width: @menu-switch) {
                                    display: block;
                                }

                                .btn-custom {
                                    display: block;
                                    width: 100%;

                                    &.add-to-cart {
                                        margin-bottom: 1em;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .action-bar {
        .responsive-font-size(0.85);
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;

        @media(max-width: @menu-switch) {
            display: none
        }

        .action-bar-controls {
            width: 100%;
            padding: 0 0 0 3%;
            position: relative;
            background-color: #dbdbdb;
            z-index: 4;


            .display-table-cell {
                .responsive-width(50%, auto);
                vertical-align: middle;

                &.left {
                    span {
                        &.action-bar-color, &.action-bar-option {
                            .sans-serif-bold;
                            color: #878787;
                            background-color: transparent;
                            .responsive-font-size(.82);
                            letter-spacing: .01em;
                            cursor: pointer;
                            padding: .95em 1.8em;
                            display: inline-block;

                            img {
                                height: .4em;
                                margin-left: .7em;
                                -webkit-transform: scaleY(-1);
                                transform: scaleY(-1);

                                &.dark-arrow {
                                    display: none;
                                }
                            }

                            &:hover {
                                color: #4C4C4C;
                                background-color: #cdcdcd;

                                img {
                                    &.light-arrow {
                                        display: none;
                                    }

                                    &.dark-arrow {
                                        display: inline;
                                    }
                                }
                            }

                            &.open {
                                color: #4C4C4C;
                                background-color: #cdcdcd;

                                img {
                                    -webkit-transform: scaleY(1);
                                    transform: scaleY(1);
                                }
                            }
                        }
                    }
                }

                &.right {
                    text-align: right;

                    .price {
                        .sans-serif-bold;
                        margin-right: 4em;
                        color: #4C4C4C;

                        .compare-at-price {
                            .sans-serif-light;
                            font-style: italic;
                            opacity: .9;
                            letter-spacing: 0;
                            color: initial;
                        }
                    }

                    .try {
                        background-color: #dbdbdb;
                        color: #4C4C4C;
                        letter-spacing: 0.14em;
                        padding: ~"calc(1.25em - 2px) 2em";

                        &:hover {
                            background-color: #cdcdcd;
                        }

                        &.open {
                            background-color: #cdcdcd;
                        }
                    }

                    .add-to-cart {
                        background-color: #36433C;
                        letter-spacing: 0.14em;

                        &:hover {
                            background: #2b352f;
                        }
                    }
                }
            }
        }

        .customise-panel {
            font-size: 1.05em;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 3;
            background-color: #36433c;
            color: white;
            padding: 1.5em 5% 5em;
            display: none;
            box-shadow: 0 -1px 3px fade(black, 30%);

            .close-panel {
                position: absolute;
                top: 2em;
                right: 5%;
                text-decoration: underline;
                opacity: .5;
                font-weight: bold;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                }
            }

            .content {
                .link {
                    .sans-serif-bold;
                    .transition(.3s);
                    cursor: pointer;
                    color: #999;

                    &:hover {
                        color: white;
                    }
                }

                &.color {
                    width: 45%;

                    .title {
                        margin-bottom: 1.5em;

                        p {
                            color: white;

                            &:first-of-type {
                                font-weight: 700 !important;
                            }

                            &:last-of-type {
                                opacity: .6;
                            }
                        }

                        &.not-eyeglasses {
                            p {
                                &:nth-of-type(2) {
                                    display: none;
                                }
                            }
                        }
                    }

                    .sub-title {
                        margin-bottom: 1.5em;
                    }

                    .color-selector {
                        .color-icon-group {
                            span {
                                margin-right: 2em;
                                border-color: #666;

                                &.selected, &:hover {
                                    border-color: white;
                                }

                                &.disable-interaction {
                                    opacity: .3;
                                }
                            }
                        }
                    }
                }

                &.eyewear {
                    [class*="-column"] {
                        display: inline-block;
                        vertical-align: top;
                    }

                    .lens-type-column {
                        width: 40%;

                        .title {
                            .sans-serif-bold;
                            margin-bottom: 1.5em;
                            display: block;

                            @media(max-width: @menu-switch) {
                                display: none;
                            }

                            &.mobile {
                                display: none;

                                @media(max-width: @menu-switch) {
                                    display: block;
                                }
                            }
                        }

                        .lens {
                            max-width: 400px;

                            .lens-type-wrapper {
                                opacity: .9;

                                .lens-type {
                                    width: 80%;
                                    padding: .5em 1em .5em 0;

                                    .lens-type-content {
                                        display: block;
                                        margin: -1.6em auto 0 1.9em;
                                    }

                                    .price {
                                        &.mobile {
                                            display: none;

                                            @media(max-width: @menu-switch) {
                                                display: inline;
                                            }
                                        }
                                    }
                                }

                                .price {
                                    &.desktop {
                                        width: 20%;
                                        text-align: right;
                                        vertical-align: top;
                                        padding-top: .5em;

                                        @media(max-width: @menu-switch) {
                                            display: none;
                                        }
                                    }
                                }


                                &.first-of-type {
                                    .lens-type {
                                        padding-top: 0;
                                    }
                                }

                                &.selected {
                                    opacity: 1;
                                    font-weight: 600;

                                    .lens-type {
                                        .lens-type-description {
                                            margin-left: 1.8em;
                                            opacity: 0.5;
                                            font-weight: 300;
                                        }
                                    }
                                }
                            }
                        }

                        .more-options {
                            display: none;
                        }
                    }

                    .lens-color-column {
                        width: 45%;

                        .lens-color {
                            .title,
                            .sub-title {
                                margin-bottom: 1.5em;
                                display: block;

                                @media(max-width: @menu-switch) {
                                    display: none;
                                }

                                &.mobile {
                                    display: none;

                                    @media(max-width: @menu-switch) {
                                        display: block;
                                    }
                                }
                            }

                            .title {
                                .sans-serif-bold;
                            }

                            .color-selector {
                                .title {
                                    opacity: .9;
                                }

                                .color-icon-group {
                                    span {
                                        margin-right: 2em;
                                        border-color: #666;
                                        padding: 0.16em;

                                        &.selected, &:hover {
                                            border-color: white;
                                        }

                                        &.disable-interaction {
                                            opacity: .3;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .learn-more {
                        &.display-table {
                            max-width: 290px;
                            position: absolute;
                            bottom: 5em;
                            right: 5%;

                            @media(max-width: @menu-switch) {
                                display: none;
                                position: initial;
                            }

                            .display-table-cell {
                                &:first-of-type {
                                    width: 17.5%;

                                    img {
                                        height: 1.2em;
                                    }
                                }

                                &:last-of-type {
                                    width: 82.5%;
                                    opacity: .6;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }

                &.size, &.set {
                    .title {
                        .sans-serif-bold;
                        margin-bottom: 1em;
                    }

                    .subtitle {
                        max-width: 40%;
                        margin: 1.8em 0 1em;
                        opacity: 0.5;
                    }
                }
            }

            &.hto {
                background-color: #cdcdcd;
                color: #4c4c4c;
            }
        }

        &.color-panel-open {
            .action-bar-color {
                color: #4C4C4C !important;
                background-color: #cdcdcd !important;

                img {
                    -webkit-transform: scaleY(1) !important;
                    transform: scaleY(1) !important;
                }
            }
        }

        &.lenses-size-set-panel-open {
            .action-bar-option {
                color: #4C4C4C !important;
                background-color: #cdcdcd !important;

                img {
                    -webkit-transform: scaleY(1) !important;
                    transform: scaleY(1) !important;
                }
            }
        }

        &.hto-panel-open {
            .customise-panel {
                background: #cdcdcd;

                p {
                    color: #4c4c4c !important;

                    &.title {
                        font-weight: bold !important;
                    }
                }

                .close-panel {
                    color: #4c4c4c;
                }

                .color {
                    width: 45% !important;

                    .color-selector {
                        .title {
                            color: #4c4c4c;
                        }

                        .color-icon-group {
                            span {
                                border-color: fade(#4c4c4c, 20%);

                                &.selected, &:hover {
                                    border-color: #4c4c4c;
                                }
                            }
                        }
                    }
                }

                .learn-more {
                    &.display-table {
                        .display-table-cell {
                            &:last-of-type {
                                color: #4c4c4c;
                                opacity: .8 !important;
                            }
                        }
                    }
                }
            }

            .try {
                background-color: #cdcdcd !important;
            }
        }
    }

    .information-bar {
        background-color: #e5e5e5;

        .header {
            .container-responsive-xl {
                .display-table {
                    padding: 4em 25%;

                    @media(max-width: @menu-switch) {
                        padding: 4em 0;
                    }

                    .display-table-cell {
                        width: 33.33%;
                        text-align: center;
                        vertical-align: middle;

                        .item {
                            cursor: pointer;

                            .image {
                                height: 1.4em;
                                display: inline-block;
                                margin-right: 1em;
                                filter: brightness(.7);
                                .transition(.3s);

                                @media(max-width: @menu-switch) {
                                    margin-right: 0;
                                    margin-bottom: 1em;
                                }
                            }

                            .title {
                                .sans-serif-bold;
                                color: #878787;
                                .transition(.3s);

                                @media(max-width: @menu-switch) {
                                    display: block;
                                }
                            }

                            &:hover {
                                .image {
                                    filter: brightness(0);
                                }

                                .title {
                                    color: #4c4c4c;
                                }
                            }
                        }
                    }
                }
            }
        }

        .body {
            & > .content {
                width: 75%;
                margin: 0 auto;
                padding: 4em 0 1em;
                border-top: solid 1px fade(@base-text-color, 50%);

                @media(max-width: @menu-switch) {
                    padding: 2em 1.2em 1em;
                    width: 100%;
                }

                .title {
                    .sans-serif-bold;
                    margin-bottom: 1.5em;
                }

                .body {
                    a {
                        .sans-serif-bold;
                        opacity: .75;
                        border-bottom: solid 1px @base-text-color;
                        cursor: pointer;
                        .transition(.3s);

                        &:hover {
                            opacity: .95;
                        }
                    }
                }

                &.delivery {
                    .item {
                        .responsive-width(33.33%, auto);

                        @media(max-width: @menu-switch) {
                            margin-bottom: 2em;
                        }

                        &:nth-of-type(2) {
                            padding: 0 5%;

                            @media(max-width: @menu-switch) {
                                padding: 0;
                            }
                        }

                        .name {
                            .sans-serif-bold;
                            color: #4c4c4c;
                            position: relative;
                            .responsive-font-size(.92);

                            &:before {
                                content: "•";
                                position: absolute;
                                top: 0;
                                left: -1.5em;
                                display: block;

                                @media(max-width: @menu-switch) {
                                    left: -.8em;
                                }
                            }
                        }

                        .days {
                            .sans-serif-bold;
                            color: #878787;
                            margin-bottom: 1.5em;
                        }

                        .description {
                            color: #151515;
                            .responsive-font-size(.93);
                            letter-spacing: 0;
                            line-height: 1.8;
                        }
                    }
                }

                &.returns {
                    padding: 4em 10% 1em;

                    .title {
                        .responsive-font-size(.92);
                        color: #4c4c4c;
                    }

                    .body {
                        color: #151515;
                        .responsive-font-size(.93);
                        letter-spacing: 0;
                        line-height: 1.8;
                    }
                }

                &.need-help {
                    padding: 4em 10% 1em;

                    @media(max-width: @menu-switch) {
                        padding: 2em 1.2 1em;
                    }

                    .title {
                        color: #4c4c4c;
                        .responsive-font-size(.92);
                    }

                    .body {
                        color: #151515;
                        .responsive-font-size(.93);
                        letter-spacing: 0;
                        line-height: 1.8;

                        & > p {
                            margin-bottom: 3.5em;
                        }

                        .contact-details {
                            .responsive-width(45%, auto);
                            vertical-align: top;

                            .display-table {
                                .display-table-row {
                                    .icon {
                                        width: 10%;
                                        padding-right: 1.2em;

                                        img {
                                            width: 100%;
                                        }
                                    }

                                    .content {
                                        width: 90%;
                                        padding-bottom: 2em;
                                    }
                                }

                                .email {
                                    .content {
                                        .email-link {
                                            color: #151515;
                                            opacity: 1;
                                            border-bottom: none;
                                            font-weight: 200;
                                        }
                                    }
                                }

                                .phone-info {
                                    .content {
                                        .phone-number {
                                            color: #151515;
                                            margin-bottom: 1.5em;
                                        }

                                        .business-hours {
                                            .description {
                                                .sans-serif-bold;
                                                color: #4c4c4c;
                                            }
                                        }
                                    }
                                }

                                .help-faq {
                                    .sans-serif-bold;

                                    .icon {
                                        img {
                                            width: 60%;
                                        }
                                    }

                                    .content {
                                        p {
                                            font-weight: 700 !important;
                                            color: #4c4c4c;
                                        }

                                        a {
                                            .sans-serif-bold-uppercase;
                                            color: #4c4c4c;
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }

                        .contact-form-wrapper {
                            .responsive-width(55%, auto);
                            vertical-align: top;

                            .contact-form-component {
                                .form-response-component {
                                    margin-bottom: 0;
                                }

                                .inputs-wrapper {
                                    .single-line-input {
                                        border-color: fade(@base-text-color, 50%);
                                        margin-bottom: 3em;
                                        padding-top: 0;

                                        &:last-of-type {
                                            margin-bottom: 5em;
                                        }
                                    }

                                    textarea {
                                        border: solid 1px @base-text-color;
                                        padding: 1em;
                                        min-height: 12em;
                                        background-color: white;
                                        margin-bottom: 2em;
                                        width: 100%;
                                        resize: none;

                                        &:focus {
                                            outline: none;
                                            box-shadow: none;
                                        }
                                    }

                                    .contact-submit {
                                        background-color: #4c4c4c;

                                        &:hover {
                                            background-color: gray;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .body-footer {
                .responsive-padding(2em 5%, 1em 5%);
                text-align: right;

                span {
                    border-bottom: solid 1px @base-text-color;
                    cursor: pointer;
                    .sans-serif-bold;
                    color: #878787;
                    margin-bottom: 1.5em;

                    &:hover {
                        opacity: .95;
                    }
                }
            }
        }
    }

    .craftmanship {
        position: relative;
        background-color: #f8f8f8;

        .caption {
            .responsive-width(35%, 90%);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            text-align: center;
            z-index: 1;

            @media(max-width: @menu-switch) {
                transform: translateX(-50%);
                position: relative;
                padding: 15% 0;
            }

            .text-content {
                @media(max-width: @menu-switch) {
                    display: initial;
                    margin-bottom: 5em;
                }

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    margin-bottom: .7em;
                    color: #fff;

                    @media(max-width: @menu-switch) {
                        color: initial;
                    }
                }

                p {
                    margin-bottom: 1.7em;
                    color: #fff;

                    @media(max-width: @menu-switch) {
                        color: initial;
                    }
                }

                .workshop {
                    color: fade(white, 45%);
                    font-weight: 400;
                    cursor: pointer;
                    .transition(.3s);

                    @media(max-width: @menu-switch) {
                        color: initial;
                    }

                    &:hover {
                        color: white;
                    }

                    img {
                        height: 1.2em;
                        margin-right: 1.2em;
                        display: initial;

                        @media(max-width: @menu-switch) {
                            display: none;
                        }

                        &.mobile {
                            display: none;

                            @media(max-width: @menu-switch) {
                                display: initial;
                            }
                        }
                    }
                }
            }
        }

        .media-cover {
            width: 100%;
            position: relative;

            .product-craftmanship-image {
                width: 100%;
                padding-top: 45%;
                background-color: darkgrey;
                background-position: 100% 50%;
                background-size: 125%;
                display: block;
            }

            .product-craftmanship-video {
                width: 100%;
                background-color: darkgrey;
            }
        }
    }

    .features {
        padding-bottom: 4em;
        position: relative;
        background-color: fade(black, 3%);

        @media(max-width: @menu-switch) {
            padding-bottom: 5em;
        }

        .feature-item {
            .display-table-cell {
                .responsive-width(50%, auto);
                vertical-align: top;

                &.description {
                    .responsive-padding(8em 10% 0 6%, 4em 2em 6%);

                    h1 {
                        .responsive-font-size(2.2);
                        margin-bottom: .9em;
                        font-weight: 400;
                    }

                    p {
                        margin-bottom: 2.2em;
                    }

                    img {
                        width: 1.5em;
                    }

                    b,
                    i {
                        color: #999;
                        .transition(.3s);

                        &:hover {
                            color: #4c4c4c;
                        }
                    }

                    b {
                        margin-left: 0.7em;
                    }

                    i {
                        margin-left: 2.3em;
                    }
                }

                &.image {

                    @media(max-width: @menu-switch) {
                        padding: 0 2em;
                    }

                    .rellax-wrapper {
                        width: 100%;
                        overflow: hidden;
                        position: relative;
                        .responsive-margin(0, 15% 0 0);

                        img {
                            width: 100%;
                            position: absolute;
                            -webkit-transition-property: transform; /* Safari */
                            -webkit-transition-duration: 2s; /* Safari */
                            -webkit-transition-delay: .1s; /* Safari */
                            transition-property: transform;
                            transition-duration: 2s;
                            transition-delay: .1s;
                        }
                    }
                }
            }

            &:nth-of-type(odd) {
                direction: rtl;

                @media(max-width: @menu-switch) {
                    direction: ltr;
                }

                .image {
                    .rellax-wrapper {
                        margin-top: 45%;

                        @media(max-width: @menu-switch) {
                            margin-top: 15%;
                        }
                    }
                }

                .description {
                    direction: ltr;
                }
            }

            &:nth-of-type(even) {

                .description {
                    .responsive-padding(15% 6% 0 10%, 4em 2em 6%);
                }

                .image {
                    padding-left: 6%;
                    padding-right: 10%;

                    @media(max-width: @menu-switch) {
                        padding: 0 2em;
                    }

                    .rellax-wrapper {
                        margin-top: -30%;

                        @media(max-width: @menu-switch) {
                            margin-top: 15%;
                        }
                    }
                }
            }
        }

        &:before {
            content: "";
            position: absolute;
            width: 80%;
            left: 10%;
            bottom: 0;
            height: 1px;
            background-color: #cecece;

            @media(max-width: @menu-switch) {
                width: 88%;
                width: ~"calc(100% - 4em)";
                left: 2em;
            }
        }
    }

    .lenses {
        .responsive-padding(12em 0 0, 4em 0 0);
        background-color: fade(black, 3%);

        .caption {
            .responsive-padding(0 20% 3%, 0 2em);
            text-align: center;

            h1 {
                .responsive-font-size(2.3);
                margin-bottom: 1em;
            }

            p {
                .responsive-padding(0 10%, 0);
                margin-bottom: 2em;
            }

            a {
                .sans-serif-bold;
                .transition(.3s);
                color: #999;

                &:hover {
                    color: #4c4c4c;
                }
            }
        }

        .alternative-section {
            padding-bottom: 8em;
            direction: rtl;

            @media(max-width: @menu-switch) {
                padding-bottom: 2em;
            }

            .display-table-row {
                .display-table-cell {
                    vertical-align: middle;

                    &.alternative-product-description {
                        .responsive-width(35%, auto);
                        .responsive-padding(13% 0 0, 13% 0 5% 30%);
                        direction: ltr;

                        .plus {
                            display: inline-block;
                            vertical-align: top;
                            height: 2.2em;
                            margin-right: 1.6em;
                            margin-top: -.5em;
                        }

                        .content {
                            display: inline-block;
                            width: 80%;
                            vertical-align: top;

                            .title {
                                .responsive-font-size(1.7);
                                color: #4c4c4c;
                                line-height: 1;
                                margin-bottom: .5em;
                            }

                            .subtitle {
                                .sans-serif-bold;
                                color: #4c4c4c;
                                margin-bottom: 1.5em;
                            }
                        }
                    }

                    &.alternative-product-image {
                        .responsive-width(65%, auto);
                        padding-right: 4%;

                        .image {
                            width: 100%;
                            padding-top: 45%;
                            background-position: 100% 50%;
                            background-size: 125%;
                            display: block;
                        }
                    }
                }
            }
        }

        .reglazing-call-to-action {
            .responsive-padding(4em 33%, 4em 2em);
            background-color: #e5e5e5;
            text-align: center;

            a {
                .sans-serif-bold;
                border-bottom: solid 1px #4c4c4c;
                .responsive-font-size(.85);
            }
        }
    }

    .specs {
        .responsive-padding(0 10% 3% 0, 0 0 2% 0);
        background-color: #36433C;

        .blueprint-image {
            .responsive-width(62%, auto);
            vertical-align: top;
            padding-right: 8%;

            @media(max-width: @menu-switch) {
                padding-right: 0;
            }

            img {
                width: 100%;
            }
        }

        .details-and-care {
            .responsive-width(38%, auto);
            vertical-align: top;
            padding-top: 8%;

            h2 {
                color: #ffffff;
            }

            @media(max-width: @menu-switch) {
                padding: 0 2em 2em;
            }

            .body {
                .column(2, 3em);
                margin-bottom: 6em;

                @media(max-width: @menu-switch) {
                    .column(1, 0);
                    margin-bottom: 3em;
                }

                p {
                    color: #ffffff;
                    opacity: .7;
                }

                li {
                    margin-bottom: 2em;
                }
            }

            .need-help-message {
                img {
                    display: inline-block;
                    vertical-align: top;
                    height: 1.5em;
                    margin-right: 1.5em;
                }

                .content {
                    display: inline-block;
                    width: 80%;
                    opacity: .7;

                    p {
                        margin-bottom: 0;
                        color: #ffffff;

                        &:first-of-type {
                            .sans-serif-bold;
                            margin-bottom: .7em;
                            font-weight: 700 !important;
                        }
                    }
                }
            }
        }
    }

    .modal {
        .modal-dialog {
            .modal-content {
                .modal-footer {
                    a,
                    button {
                        padding: .7em 2em;
                    }
                }
            }
        }

        &#size-chart {
            td,
            p {
                color: #878787 !important;
            }

            .modal-dialog {
                &.modal-extra-lg {
                    .responsive-width(69%, 90%);
                }

                .modal-header {
                    .close {
                        color: #4c4c4c;
                        opacity: 1;
                        font-size: 2.5em !important;

                        &:hover {
                            color: #000000;
                        }
                    }
                }

                .modal-body {
                    .responsive-padding(0 5% 5%, 0 0 5%);

                    .caption {
                        max-width: 66%;
                        text-align: center;
                        margin: .7em auto 4em;
                        padding-left: 5%;
                        padding-right: 5%;

                        @media(max-width: @menu-switch) {
                            max-width: 100%;
                        }

                        h3 {
                            .responsive-font-size(1.65);
                        }
                    }

                    .toggle-switch-component {
                        float: right;
                        margin-bottom: .9em;
                        margin-right: 5%;
                    }

                    .product-title, .measuring-guide-title {
                        .sans-serif-bold;
                        color: #4c4c4c !important;
                        background-color: #f5f5f5;
                        padding: .5em;
                        text-align: center;
                        clear: both;
                    }

                    .measuring-table-wrapper {
                        &.table-responsive {
                            @media(max-width: @menu-switch) {
                                border: none;
                            }
                        }

                        table {
                            tr {
                                td {
                                    border: 2px solid #f5f5f5;
                                    border-collapse: collapse;
                                    text-align: center;

                                    &:first-of-type {
                                        border-left: none;
                                        text-align: left;
                                        color: #4c4c4c !important;
                                        font-weight: 600;
                                    }

                                    &:last-of-type {
                                        border-right: none;
                                    }
                                }

                                &:first-of-type {
                                    td {
                                        border-top: none;
                                    }
                                }
                            }
                        }
                    }

                    .measuring-guide-title {
                        margin-top: 4em;
                    }

                    .measuring-guide-body {
                        &.display-table {
                            .responsive-padding(2.5em 0 4em, 2.5em 5% 4em);
                            direction: rtl;

                            @media(max-width: @menu-switch) {
                                direction: ltr;
                            }

                            .display-table-cell {
                                .responsive-width(50%, 100%);
                                vertical-align: top;
                                text-align: left;

                                @media(max-width: @menu-switch) {
                                    display: block;
                                }

                                &.image-cell {
                                    @media(max-width: @menu-switch) {
                                        max-width: 100%;
                                    }

                                    img {
                                        max-width: 70%;

                                        @media(max-width: @menu-switch) {
                                            max-width: 100%;
                                        }
                                    }
                                }

                                &.content-cell {
                                    direction: ltr;
                                    padding-left: 1em;

                                    @media(max-width: @menu-switch) {
                                        padding-bottom: 3em;
                                    }

                                    p {
                                        position: relative;

                                        &:before {
                                            content: "•";
                                            position: absolute;
                                            top: 0;
                                            left: -1em;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .size-chart-footer {
                        .responsive-padding(0, 0 5%);

                        p {
                            margin-bottom: 0;

                            &.title {
                                .sans-serif-bold;
                                font-weight: bold !important;
                                color: #4c4c4c !important;
                                margin-bottom: 1em;
                            }

                            &.email, &.phone {
                                font-weight: 400 !important;

                                img {
                                    width: 1.1em;
                                    margin-right: .5em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    h1 {
        color: #4f4f4f;
        line-height: 1.63 !important;
    }

    p {
        color: #151515;
        .responsive-font-size(0.98);
        letter-spacing: .01em !important;
        font-weight: 300 !important;
        line-height: 1.7 !important;
    }
}
